.services-carrousel {
    -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        white 10%,
        white 90%,
        transparent 100%
    );

    mask-image: linear-gradient(
    to right,
        transparent 0%,
        white 10%,
        white 90%,
        transparent 100%
    );
}

.dark .services-carrousel {
    -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%
    );

    mask-image: linear-gradient(
    to right,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%
    );
}

#show-location {
    transition: all ease;
    animation: showLocation 2s ease forwards;
    opacity: 1;
    left: 0;
}

section#section-bottom-mask-texts {
    mask-image: linear-gradient(
        to top,
        transparent,
        white 10%
    );
}

.dark section#section-bottom-mask-texts {
    mask-image: linear-gradient(
        to top,
        transparent,
        black 10%
    );
}

.highlight {
    transition: transform 0.25s cubic-bezier(0.22, 1, 0.36, 1),
                height 0.25s cubic-bezier(0.22, 1, 0.36, 1),
                opacity 0.2s ease;
}

/* #texts-scroll-area {
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 20%,
        black 80%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 20%,
        black 80%,
        transparent 100%
    );
} */
  
  

@keyframes showLocation {
    to {
        opacity: 0;
        transform: scale(0);
    }
}